@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: "Inconsolata", monospace;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

nav {
  padding: 5px 20px;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  position: fixed;
  box-shadow: 1px 1px 8px currentColor;
  width: 100%;
  z-index: 2;
}
.section-title {
  display: flex;
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-size: 2rem;
  border-bottom: 1px solid #00000060;
}

nav a {
  align-items: center;
  padding: 15px 20px;
  font-size: 1.1rem;
  color: #000;
}

nav a:hover {
  background-color: #d2d1d1;
}

nav ul {
  display: flex;
}

#home {
  background-image: url(https://www.w3schools.com/w3images/architect.jpg);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  color: #fff;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.336);
}

#home .home-title {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 2.1rem;
  transform: translate(-50%, -50%);
}

.home-title span b {
  background-color: #000000ad;
  padding: 10px 15px;
}
#project {
  margin: 80px 40px;
}
#project .image-content {
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 100%;
  gap: 2rem;
}
.image-content .image {
  width: 100%;
  position: relative;
}

.image img {
  width: 100%;
}
.image p {
  background-color: #000;
  color: #fff;
  padding: 10px;
  position: absolute;
  top: 0;
}
#about {
margin: 30px 50px;
}
#about .cards {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1.1rem;
    margin-top: 20px;
}
.cards .card {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.cards .card button {
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    border: 1px solid #000;
}
.cards .card img {
    width: 100%;
}
.cards .card button:hover {
    background-color:  #000;
    color: #fff;
    cursor: pointer;

}
#contact {
    margin: 80px 40px;
}
#contact form {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-top: 30px;
}
#contact form input {
    border: 1px solid #00000070;
    padding: 10px 15px;
    font-size: 1rem;
}
#contact form button {
    padding: 10px 20px;
    border: #000;
    background-color: #000;
    color: #fff;
    font-family: sans-serif;
}
#contact form button:hover {
background-color: #fff;
color: #000;
}

footer {
text-align: center;
padding: 30px 0px;
background-color: #000;
color: #fff;
text-transform: capitalize;
}
footer a {
    color: #fff;
    text-decoration: underline;
}
.bg-img {
    min-height: 100vh;
}
